@{
    ViewData["Title"] = "Lab 5";
}

<div class="text-center">
    <h1 class="display-4">Laboratorio No.05 </h1>
    <p>“Implementación y análisis de árboles multicamino”</p>
</div>
<hr />
<p>~/Controller...................ingreso manual</p>
<p>~/Controller/carga.............ingreso csv</p>
